.list-all-box {
    margin-top:50px;
    
}

.title-2 {
    border-top:2px solid #efefef;
    border-bottom:2px solid #efefef;
    padding-top:10px;
    padding-bottom:10px;
}



.list-box {
    margin-bottom:30px;
}

.list-box > .list-name {
    padding-right:20px;
    margin-top:10px;
    font-size:0.7rem;
}

.list-box > .regDate {
    margin-top:10px;
    font-size:0.7rem;
}

.category {
    margin-top: 26px;
    width: 180px;
    height: 1000px;
    padding-left:70px;
    
}


.category > .category-box {
    font-size:1.2rem;
    font-weight: bold;
    border-bottom: 2px solid #efefef;
    height:28px;
    margin-bottom:8px;
    padding-right:90px;
}

.list-all-box > .category > .name {
    margin-top:10px;
}

.textZoom {
    transform-origin: top left;
    transition: transform 0.3s;
}

.textZoom:hover {
    transform: scale(1.1);
}


