.title-2 {
    border-top:2px solid #efefef;
    border-bottom:2px solid #efefef;
    padding-top:10px;
    padding-bottom:10px;
}

.botton-box {
    margin-top:30px;
    margin-bottom:80px;
}

.list-box {
    margin-bottom:30px;
}